In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df= pd.read_csv('/Users/ivanjardon/Downloads/20201123_Sampling 12372.csv')

In [7]:
df.head()

,project_id,project_name,order_kind,external_id,image_url,actual_delivery_time,bc_budget_used
0,12372,Sampling Segmentado Elite Toalla Cocina Nov Di...,GIFT_ORDER,MX-702262-6616079,https://superpal.s3.amazonaws.com:443/receipt-...,2020-11-23T12:32:27.42692,17.5
1,12372,Sampling Segmentado Elite Toalla Cocina Nov Di...,GIFT_ORDER,MX-810808-3719097,https://superpal.s3.amazonaws.com:443/receipt-...,2020-11-23T13:27:48.970967,17.5
2,12372,Sampling Segmentado Elite Toalla Cocina Nov Di...,GIFT_ORDER,MX-796791-9614623,https://superpal.s3.amazonaws.com:443/receipt-...,2020-11-23T08:22:48.333516,17.5
3,12372,Sampling Segmentado Elite Toalla Cocina Nov Di...,GIFT_ORDER,MX-395646-8744007,https://superpal.s3.amazonaws.com:443/receipt-...,2020-11-23T11:57:41.568723,17.5
4,12372,Sampling Segmentado Elite Toalla Cocina Nov Di...,GIFT_ORDER,MX-082159-9443361,https://superpal.s3.amazonaws.com:443/receipt-...,2020-11-23T12:45:46.762129,17.5

In [8]:
df.dtypes

project_id                int64
project_name             object
order_kind               object
external_id              object
image_url                object
actual_delivery_time     object
bc_budget_used          float64
dtype: object

In [9]:
df.describe()

       project_id  bc_budget_used
count       218.0      218.000000
mean      12372.0       17.620642
std           0.0        0.220202
min       12372.0       17.400000
25%       12372.0       17.500000
50%       12372.0       17.500000
75%       12372.0       17.500000
max       12372.0       18.400000

In [6]:
from matplotlib import pyplot as plt

%matplotlib inline

%plt.scatter(df.actual_delivery_time,df.bc_budget_used)

UsageError: Line magic function `%plt.scatter(df.actual_delivery_time,df.bc_budget_used)` not found.